/* Conteneur du formulaire */
.form-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

body {
    background-image: url("images/Contact_imgfond.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* Styles des champs du formulaire */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input, form select, form textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

form button {
    display: inline-block;
    background-color: #e67c85;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #d54c54;
    transition: background-color 0.3s;
}